<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
   
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        h1 {
            margin-bottom: 20px;
        }
        form {
            margin-bottom: 20px;
        }
        img {
            max-width: 500px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Upload an image to predict if it's a cat or dog</h1>

    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <button type="submit">Upload</button>
    </form>
    {% if prediction %}
    <img src="{{ file_path }}" alt="Uploaded Image">
    <h2>Prediction: {{ prediction }}</h2>
    
    {% endif %}
</body>



</html>
